.App {
  text-align: center;
}

textarea, input {
  font-size: 200%;
  font-family: sans-serif;
  caret-color: #4c8bf5;
  width: 80%;
  height: 80%;
}

button {
  font-size: 50%;
}

div.half {
  width: 100%;
  position: absolute;
  height: 49%;
}
div.bottom {
  top: 50%;
}

.App-link {
  color: #61dafb;
}
h1 {
  font-weight: normal;
}